@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
:root {

    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Signika Negative', sans-serif;
    
}

html, body {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.123);

}

h1 {
    font-family: var(--font01);
    font-size: 1.8em;
    font-variant: small-caps;
    text-align: center;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.589);
}
h2 {
    font-family:var(--font02);
    font-size: 2em;
    font-variant: small-caps;
}

div.pw {
    width: 320px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;

}
div.pl {
    width: 210px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 5px;
    margin: auto;
    text-align: center;
}
div.lo {
    width: 270px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 5px;
    margin: auto;
    text-align: center;
}


a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}   
a:hover {
    text-decoration: underline;
    color: rgba(183, 177, 214, 0.836);
    
}

section {
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-left: 60px;
    padding-right: 60px;
    background-attachment: fixed;
}
section.normal {
    background-color: darkgray;
}
section.normal > p {
    line-height: 1.8em;
    font-family: var(--font01);
    font-size: 1.05em;
    text-align: justify;
    text-align: center;
    color: rgba(0, 0, 0, 0.521);
}
section.imagem {
    padding-top: 300px;
    padding-bottom: 300px;
    background-color:rgb(92, 73, 73);
    background-attachment: fixed;
    color: white;
}
section#img01 {
    min-height: 100vh;
    background-image: url(imagens/new-york.02.png);
    background-position: left center;
    background-size: cover;
}
section#img02 {
    min-height: 100vh;
    background-image: url(imagens/lisbon-portugal.02.png);
    background-position: left center;
    background-size: cover;
}
section#img03 {
    min-height: 100vh;
    background-image: url(imagens/big-ben.02.png);
    background-position: center center;
    background-size: cover;
}
section#nor  {
    background-color: rgba(0, 0, 0, 0.938);
}
section#nor > h1 {
    font-family: var(--font01);
    font-size: 1.8em;
    font-variant: small-caps;
    text-align: center;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.671);
}
section#nor > p {
    color: rgba(255, 255, 255, 0.671);
    line-height: 1.8em;
    font-family: var(--font01);
    font-size: 1.05em;
    text-align: justify;
    text-align: center
}
